/* CSS for WorldMapXBlock */

.worldmap_block .count {
    font-weight: bold;
}

.worldmap_block p {
    cursor: pointer;
}

.hidden {
    visibility: hidden;
    display: none;
}

.vertical-label {
    -webkit-transform: rotate(-90deg);
    -moz-transform:    rotate(-90deg);
    -ms-transform:     rotate(-90deg);
    -o-transform:      rotate(-90deg);
    transform:         rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); //for IE
    float: left;
    position:relative;
    top:-15px;
    left:-6px;
    white-space:nowrap;
    font-size: 9pt;
}
.vertical-label-title .slider-help {
    -webkit-transform: rotate(90deg) translateX(30%);
    -moz-transform:    rotate(90deg) translateX(30%);
    -ms-transform:     rotate(90deg) translateX(30%);
    -o-transform:      rotate(90deg) translateX(30%);
    transform:         rotate(90deg) translateX(30%);
}

.vertical-label-title {
    -webkit-transform: rotate(-90deg);
    -moz-transform:    rotate(-90deg);
    -ms-transform:     rotate(-90deg);
    -o-transform:      rotate(-90deg);
    transform:         rotate(-90deg);
    position: relative;
    top:-100px;
    left: -6px;
    z-index:1;
    font-size: 9pt;
    color:grey;
    white-space:nowrap;
}
.vertical-label-bottom {
    clear:left;
    top:20px;
    left:-7px;
}

.slider-thumb-value {
    position: absolute;
    z-index: 3;
    border:0;
}
.slider-help {
    position: absolute !important;
    top: 20px !important;
    left:20px !important;
    z-index: 3;
    border:0;
    padding: 10px;
}

.vertical-slider-container {
    width:40px;
}

.vertical-slider-container .ui-slider .ui-slider-handle {
    width: 1.6em;
    height: 1.6em;
    left: -5px;
}

.sliders-right {
    white-space:nowrap;
    vertical-align: top;
}
.sliders-left {
    white-space:nowrap;
    vertical-align: top;
}
.ui-slider.ui-widget-content {
    border: 1px solid #000000 !important;
    background-color: rgb(248,239,239) !important;
}
.vertical-slider {
    float: left;
    clear:left;
    font-size: 9pt;
    width: 1em;
    margin-left:8px;
    margin-right:5px;
}
.horizontal-slider {
    width:100%;
    margin-top:5px;
    margin-bottom:5px;
    margin-left:auto;
    margin-right:auto;
    font-size:9pt;
    white-space:nowrap;
}
.horizontal-label-left {
    width:60px;
}
.horizontal-label-title {
    position: relative;
    left: -220px;
    color: grey;
}
.horizontal-label-title .slider-help {
    left: 260px !important;
    top: 30px !important;
}
.horizontal-label {
    float:left;
    top: 4px;
}

.point-tool {
    display:inline-block;
    background: no-repeat scroll 0 0 transparent;
    height:48px;
    width:48px;
    background-image: url('$imagesRoot/markerIcon.png');
}
.polygon-tool {
    display:inline-block;
    background: no-repeat scroll 0 0 transparent;
    height:48px;
    width:48px;
    background-image: url('$imagesRoot/polygonIcon.png');
}
.polyline-tool {
    display:inline-block;
    background: no-repeat scroll 0 0 transparent;
    height:48px;
    width:48px;
    background-image: url('$imagesRoot/polylineIcon.png');
}
.no-close .ui-dialog-titlebar-close {
  display: none;
}
.dynatree-container {
    border: none !important;
}

.debugInfo {
   width:600px;
   height: 54px;
}

.ui-dialog {
    z-index: 99 !important;
    background: white !important;
    border: 1px solid #000000 !important;
}
.ui-dialog .ui-dialog-titlebar {
    background: grey !important;
}
.ui-widget-overlay {
    z-index: 98 !important;
}

.questions-list {
    list-style-type: lower-alpha !important;
    list-style-position: outside !important;
    margin-left: 20px;
}

.ui-tooltip-content {
    position: relative;
    padding: 0px;
    overflow: hidden;
    border: none;
    text-align: left;
    word-wrap: break-word;
    overflow: hidden;
}