{% load i18n %}

<!-- TODO: Replace by default edit view once available in Studio -->
<div class="wrapper-comp-settings is-active editor-with-buttons " id="settings-tab">
  <ul class="list-input settings-list">
      <li class="field comp-setting-entry is-set">
          <div class="wrapper-comp-setting">
            <label class="label setting-label" for="edit_display_name" style="width:inherit; min-width:inherit; display: inline;">Title</label>
            <input class="input setting-input edit-display-name" id="edit_display_name" value="{{ display_name }}" type="text">
          </div>
      </li>

      <li class="field comp-setting-entry is-set">

          <div id="tabs">
              <ul>
                <li><a href="#general-tab">General</a></li>
                <li><a href="#questions-tab">Questions</a></li>
                <li><a href="#map-tab">Map</a></li>
                <li><a href="#stylesheet-tab">Style</a></li>
                <li class="dev-only" ><a href="#questions-json">Config JSON</a></li>
                <li class="dev-only" ><a href="#map-json">Map config JSON</a></li>
              </ul>
              <div class="dev-only" id="questions-json">
                  <div class="wrapper-comp-setting">
<!--                    <label class="label setting-label" for="edit_data">Questions</label>
                        <span class="tip setting-help">The JSON definition for the questions configuration</span>
-->
                    <div class='codemirror-editor-wrapper'>
                      <textarea id="config" class="edit-data">{{ config_json}}</textarea>
                    </div>
                  </div>
              </div>
              <div class="dev-only" id="map-json">
                  <div class="wrapper-comp-setting">
<!--                    <label class="label setting-label" for="edit_data">Questions</label>
                        <span class="tip setting-help">The JSON definition for the questions configuration</span>
-->
                    <div class='codemirror-editor-wrapper'>
                      <textarea id="worldmapConfig" class="edit-data">{{ worldmapConfig_json}}</textarea>
                    </div>
                  </div>
              </div>
              <div id="general-tab">
                  <table width="100%" cellpadding="5px" style="margin-top:25px"><tr><td nowrap>
                      <div class="wrapper-comp-setting prose-area ">
                        <label class="label setting-label" for="prose">{% trans "Prose"%}</label>
                        <span class="tip setting-help">{% trans "(html description of this module)"%}</span>
                        <div class='codemirror-editor-wrapper'>
                          <textarea id="prose" class="block-html-editor edit-data">{{prose}}</textarea>
                        </div>
                      </div>
                   </td><td nowrap>
                      <label style="width:50% !important" class="label setting-label" for="prose-polygon-list">{% trans "Referenced Geometry"%}</label>
                      <span style="width:150px; min-width:150px; text-align:right" class="tip setting-help"><button id="add-reference-geometry">{% trans "Add a reference"%}</button></span>
                      <ul id="prose-polygon-list"></ul>
                  </td></tr></table>
              </div>
              <div id="questions-tab">
                 <label id="sortable-questions-label" class="label setting-label" for="sortable-questions">{% trans "Drag to re-order"%}.</label>
                 <ul id="sortable-questions" class="scroll"/>
                 <div style="width:95%; text-align:right" class="tip setting-help"><button id="new-question">{% trans "New question"%}</button></div>
              </div>
              <div id="stylesheet-tab">
                  <div class='codemirror-editor-wrapper'>
                      <textarea id="stylesheet" class="edit-data">{{worldmapConfig_stylesheet}}</textarea>
                  </div>
              </div>
              <div id="map-tab">
                 <table style="width:900px">
                     <tr>
                         <td colspan="2">
                            <div style="float:left; width:530px;">
                                <div style="float:left;margin-right:10px;width:530px">
                                    <label for="map-url" style="margin-left:0px !important;width:100%;" class="label setting-label">Map URL</label>
                                    <input type="text" id="map-url" style="width:100% !important;padding:0px;" placeholder="required" class="required text ui-widget-content ui-corner-all"/>
                                </div>
                                <div style="float:right">
                                    <label class="dependent-property label setting-label" for="map-width">Width</label>
                                    <input type="text" id="map-width" style="font-size:small;width:40px !important;" placeholder="required" class="required-integer dependent-property text ui-widget-content ui-corner-all">
                                    <label class="dependent-property label setting-label" for="map-height">Height</label>
                                    <input type="text" id="map-height" style="font-size:small;width:40px !important;" placeholder="required" class="required-integer dependent-property text ui-widget-content ui-corner-all">
                                    <label class="dependent-property label setting-label" for="map-baseLayer">Base</label>
                                    <input type="text" id="map-baseLayer" style="font-size:small;width:220px !important" title="Base Layer of map" placeholder="specify if needed" class="dependent-property text ui-widget-content ui-corner-all">
                                    <label class="dependent-property label setting-label" for="map-debug">DBG</label>
                                    <input type="checkbox" id="map-debug" title="enable debug mode" class="checkbox"/>
                                </div>
                            </div>
                            <div style="float:right;width:318px;">
                                <div style="float:left;margin:5px 16px 0px 3px; padding:5px;border:1px solid darkgray" class="ui-corner-all">
                                    <span style="font-size: 70%;font-weight:bold; ">Viewport:</span>
                                    <span style="min-width:120px">
                                        <label style="text-align:right;" title="viewport stays across multiple visits to page" class="dependent-property label setting-label" for="map-sticky">User sticky</label>
                                        <input type="checkbox" id="map-sticky" title="enable sticky pan/zoom" class="checkbox"/>
                                    </span>
                                    <div style="float:left">
                                        <div style="float:left;margin-right:10px;width:70px">
                                            <label for="center-lon" style="margin-left:0px !important;width:100%;" class="label setting-label">longitude</label>
                                            <input type="text" id="center-lon" style="min-width:0px;width:100% !important;font-size:small;padding:0px;" placeholder="required" class="required-number text ui-widget-content ui-corner-all"/>
                                        </div>
                                        <div style="float:left;margin-right:10px;width:70px">
                                            <label for="center-lat" style="margin-left:0px !important;width:100%;" class="label setting-label">latitude</label>
                                            <input type="text" id="center-lat" style="min-width:0px;width:100% !important;font-size:small;padding:0px;" placeholder="required" class="required-number text ui-widget-content ui-corner-all"/>
                                        </div>
                                        <div style="float:left;margin-right:10px;width:50px;">
                                            <label for="zoom" style="margin-left:0px !important;width:100%;min-width:10px;" class="label setting-label">zoom</label>
                                            <input type="text" id="zoom" style="min-width:0px;width:100% !important;font-size:small;min-width:10px;padding:0px;" placeholder="req'd" class="required-integer text ui-widget-content ui-corner-all">
                                        </div>
                                        <div style="float:left;cursor:pointer;" id="map-view-helper">
                                            <img title="map center/zoom helper" src="{{imagesRoot}}/globe-40x40.png"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </td>
                     </tr>
                     <tr>
                         <td style="padding:15px 15px 0px 0px; width: 65%;" >
                            <label class="label setting-label" for="layer-control" style="width:70%;">Layer Controls (drag to reorder)</label>
                            <span style="width:26% !important; min-width:inherit; text-align:right" class="tip setting-help"><button disabled id="new-node">New node</button></span>
                            <div id="layer-control" class="scroll" style="height:165px">
                                <div id="layer-controls"/>
                            </div>
                         </td>
                         <td style="padding:15px 15px 0px 0px;width:35%;">
                             <label class="label setting-label" style="width:40% !important;margin-right:0px;" for="sliders">{% trans "Sliders"%}</label>
                             <span style="width:49% !important; min-width:inherit; text-align:right" class="tip setting-help"><button id="new-slider">{% trans "New slider"%}</button></span>
                             <ul id="sliders" class="scroll" />
                             <label class="label setting-label" style="width:45% !important; margin-right:0px; min-width:inherit;" for="slider-layers">{% trans "Slider layers"%}</label>
                             <span style="width:49% !important; min-width:inherit; text-align:right" class="tip setting-help"><button id="new-sliderLayer">{% trans "New slider layer"%}</button></span>
                             <ul id="slider-layers" class="scroll" />
                         </td>
                     </tr>
                 </table>
              </div>
          </div>
      </li>
  </ul>

  <!-- MAIN PAGE ACTIONS   -->
  <div class="xblock-actions">
    <span class="xblock-editor-error-message"></span>
    <ul>
      <li class="action-item">
        <a href="#" class="button action-primary save-button">{% trans "Save" %}</a>
      </li>

      <li class="action-item">
        <a href="#" class="button cancel-button">{% trans "Cancel" %}</a>
      </li>
    </ul>
  </div>


  <!-- SPECIFYING A GEO BOUNDARY -->
  <div id="dialog-geo-form" class="dialog-form" title="Specify Reference Geometry">
        <form>
            <fieldset>
                <label for="reference-id">Unique ID</label>
                <input type="text" name="id" id="reference-id" value="" class="required text ui-widget-content ui-corner-all">

                <div id="specify-geo">
                    <label for="worldmap_config_{{uniqueId}}" id="geometry-type-label">Specify polygon</label>
                    <iframe class='frame' id="worldmap_config_{{uniqueId}}"
                            src="{{url}}{{delimiter}}xblockId=worldmap_config_{{uniqueId}}"
                            frameborder='0' width='400' height='300'
                            debug="false"
                            style="display:inline;"
                            >
                    </iframe>
                    <div id="geo-boundary-type">
                        <input type="radio" id="geo-boundary-type-point" class="required" name="geo-boundary-type" value="point"/><label for="geo-boundary-type-point">Point</label><br/>
                        <input type="radio" id="geo-boundary-type-polyline" class="required" name="geo-boundary-type" value="polyline"/><label for="geo-boundary-type-polyline">Polyline</label><br/>
                        <input type="radio" id="geo-boundary-type-polygon" class="required" name="geo-boundary-type" value="polygon"/><label for="geo-boundary-type-polygon">Polygon</label>
                    </div>
                </div>
                <div id="dialog-geo-form-validation-msg" style="font-size:smaller; color:red;"/>
            </fieldset>
        </form>
    </div>

    <!-- SPECIFYING MAP POSITION & ZOOM -->
    <div id="dialog-geo-view-form" class="dialog-form" title="Specify Map Viewport">
                    <label for="worldmap_geo_view_{{uniqueId}}">Specify map position and zoom</label>
                    <iframe class='frame' id="worldmap_geo_view_{{uniqueId}}"
                            src="{{url}}{{delimiter}}xblockId=worldmap_geo_view_{{uniqueId}}"
                            frameborder='0' width='400' height='300'
                            debug="false"
                            style="display:inline;"
                            >
                    </iframe>
    </div>


    <!-- sliderLayer details -->
    <div id="dialog-sliderLayer-detail" class="dialog-form" title="Slider layer details">
        <form>
            <fieldset>
                <label>ID<input type="text" id="sliderLayer-id" placeholder="   required" class="required text ui-widget-content ui-corner-all"></label>
                <label id="sliderLayer-params-label" style="display:inline;" class="label setting-label" for="sliderLayer-params">Parameters</label>
                <span class="tip setting-help"><button id="new-param" style="float:right; font-size:80%;">New parameter</button></span>
                <ul id="sliderLayer-params" class="scroll"/>
            </fieldset>
        </form>
    </div>
    <!-- layer-control node details -->
    <div id="dialog-layerControl-form" class="dialog-form" title="Layer control details">
        <form>
            <fieldset>
                <label>Title<input type="text" id="layerControl-title" class="required text ui-widget-content ui-corner-all" placeholder="   user visible name (required)"></label>
                <span id="layerControl-key-span"><label>Layer ID<input type="text" id="layerControl-key" placeholder="   map's layer name (required)" class="required text ui-widget-content ui-corner-all"></label></span>
                <span id="layerControl-isFolder-span"><label id="layerControl-isFolder-label">Folder: <input type="checkbox" class="checkbox" id="layerControl-isFolder"></label></span>
                <span id="layerControl-isVisible-span" style="display:inline;"><label>Visible:<input type="checkbox" class="checkbox" id="layerControl-isVisible"></label></span>
            </fieldset>
        </form>
    </div>
    <!-- param details -->
    <div id="dialog-param-form" class="dialog-form" title="Parameter details">
        <form>
            <fieldset>
                <label>Name<input type="text" id="param-name" class="required text ui-widget-content ui-corner-all"></label>
                <input id="param-type-value" type="radio" class="radio" value="value" name="param-type">Value</input>
                <span id="param-value-span">
                   <input type="text" id="param-value" class="required-number text ui-widget-content ui-corner-all" placeholder="required">
                </span><br/>
                <input id="param-type-range" type="radio" class="radio" value="range" name="param-type">Range</input>
                <span id="param-range-span">
                   <input type="text" id="param-min" class="required-number text ui-widget-content ui-corner-all" placeholder="min (required)"> to
                   <input type="text" id="param-max" class="required-number text ui-widget-content ui-corner-all" placeholder="max (required)">
                </span>
            </fieldset>
        </form>
    </div>

    <!-- slider details -->
    <div id="dialog-slider-form" class="dialog-form" title="Slider details">
        <form id="slider-form">
            <fieldset>
                <table>
                    <tr>
                        <td>
                            <label>Title<input type="text" id="slider-title" placeholder="   required" class="required text ui-widget-content ui-corner-all"></label>
                        </td>
                        <td>
                            <label>Parameter<input type="text" id="slider-param" placeholder="   required" class="required text ui-widget-content ui-corner-all"></label>
                        </td>
                        <td>
                            <label>Position
                                <select id="slider-position" class="text ui-widget-content ui-corner-all">
                                    <option value="bottom">Bottom</option>
                                    <option value="top">Top</option>
                                    <option value="left">Left</option>
                                    <option value="right">Right</option>
                                </select>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Minimum<input type="text" id="slider-min" placeholder="   required" class="required-number text ui-widget-content ui-corner-all"></label>
                        </td>
                        <td>
                            <label>Maximum<input type="text" id="slider-max" placeholder="   required" class="required-number text ui-widget-content ui-corner-all"></label>
                        </td>
                        <td>
                            <label>Increment<input type="text" id="slider-incr" placeholder="   required" class="required-number text ui-widget-content ui-corner-all"></label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <label>Help (html)<textarea id="slider-html" class="text ui-widget-content ui-corner-all"/></label>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>


    <!-- SPECIFYING A CONSTRAINT DETAILS -->
    <div id="dialog-constraint-form" title="Constraint details">
        <form>
            <fieldset>
                <table cellpadding="10px">
                    <tr>
                        <td colspan="2">
                            <label for="constraint-explanation">Hint (html)</label>
                            <input type="text" name="constraintExplanation" id="constraint-explanation" value="" class="required text ui-widget-content ui-corner-all" style="width:92%">
                            <hr/>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:40%">
                            <label for="constraint-percentOfGrade">Score weight</label>
                            <input type="text" name="constraintPercentOfGrade" id="constraint-percentOfGrade" value="" class="required required-number text ui-widget-content ui-corner-all">
                            <span id="constraint-percentMatch-span">
                               <label for="constraint-percentMatch">Percent match</label>
                               <input type="text" name="constraintPercentMatch" id="constraint-percentMatch" value="" class="required required-number text ui-widget-content ui-corner-all">
                            </span>
                            <label for="constraint-padding">Padding (meters)</label>
                            <input type="text" name="constraintPadding" id="constraint-padding" value="" class="required required-number text ui-widget-content ui-corner-all">
                            <BR/><BR/>
                            <label>Type
                            <select name="type" id="constraint-type" class="select ui-widget-content ui-corner-all">
                                <option value="excludes">Excludes</option>
                                <option value="includes">Includes</option>
                                <option value="inside">Inside</option>
                                <option value="matches">Matches</option>
                            </select>
                            </label>
                        </td>
                        <td style="width:60%">
                            <label for="worldmap_constraint_{{uniqueId}}" id="constraint-type-label">
                                Constraint geometry:
                                <select name="constraintGeometryType" id="constraint-geometry-type" class="select ui-widget-content ui-corner-all">
                                    <option value="point">Point</option>
                                    <option value="polyline">Polyline</option>
                                    <option value="polygon">Polygon</option>
                                </select>
                            </label>
                            <iframe class='frame' id="worldmap_constraint_{{uniqueId}}"
                                src="{{url}}{{delimiter}}xblockId=worldmap_constraint_{{uniqueId}}"
                                frameborder='0' width='400' height='300'
                                debug="false"
                                >
                            </iframe>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span id="constraint-dialog-error" style="color:red;font-size:smaller"/>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
  </div>

  <!-- SPECIFYING QUESTION DETAILS -->
  <div id="dialog-question-detail" title="Question details">
        <form>
            <fieldset>
                <table style="width:100%">
                    <tr>
                        <td colspan="2">
                            <label for="explanation">Question (html)</label>
                            <input type="text" name="explanation" id="explanation" class="required text ui-widget-content ui-corner-all">
                            <hr/>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:275px">
                            <label for="question-id">Unique ID</label>
                            <input type="text" name="id" id="question-id" value="" class="required text ui-widget-content ui-corner-all">
                            <label for="color">Tool button color</label>
                            <input type="text" name="color" id="color" class="required required-color text ui-widget-content ui-corner-all">
                            <label for="hintAfterAttempt"># Attempts before hint</label>
                            <input type="text" name="hintAfterAttempt" id="hintAfterAttempt" class="text required required-integer ui-widget-content ui-corner-all">
                            <label for="hintDisplayTime"># Seconds to display hint</label>
                            <input type="text" name="hintDisplayTime" id="hintDisplayTime" class="text required required-number ui-widget-content ui-corner-all">
                            <label for="response-type">User response to question</label><br/>
                            <select name="type" id="response-type" class="select ui-widget-content ui-corner-all">
                                <option value="point">Point</option>
                                <option value="polyline">Polyline</option>
                                <option value="polygon">Polygon</option>
                            </select>
                        </td>
                        <td style="width:100%">
                            <div id="constraint-list-wrapper">
                                <label style="width:50% !important" class="label setting-label" for="constraint-list">Constraints:</label>
                                <span style="width:40%; text-align:right" class="tip setting-help"><button id="new-constraint">New constraint</button></span>
                                <ul id="constraint-list" class="scroll" style="width:100%; height:130px;"/>
                            </div>
                            <div id="question-dialog-error" style="color:red;margin-left:20px;font-size:smaller"/>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
  </div>
  <div id="dialog-confirm"/>
  <div id="dialog-inquire"/>
</div> <!-- div of class='wrapper-comp-settings'   - NO HTML OUTSIDE HERE -->