.dev-only {  /* comment out to get access to JSON (display only) tab panels  */
    display:none !important;
}

/*.modal-type-worldmap {*/
    /*top:50px !important,*/
    /*left:200px;*/
    /*width:940px;*/
    /*height:500px;*/
/*}*/
.CodeMirror {
    height:270px !important;
}

.prose-area .CodeMirror {
    width: 500px !important;
    height:240px !important;
    border: none;
    background-color: #e5e5e5;
}

#prose-polygon-list {
    max-height: 240px;
    overflow: auto;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #e5e5e5;
}

#add-reference-geometry {
    font-size:90%;
    margin-right:4px;
}
.wrapper-comp-settings .list-input.settings-list .field.comp-setting-entry {
    padding: 3px 3px !important;
    margin: 0px 6px !important;
}
.ui-tabs .ui-tabs-panel {
    padding: 0px 2px !important;
}



#tabs {
    height: 320px;
}

.ui-tabs .ui-tabs-nav li {
    margin: -1px .2em 0 !important;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 0.2em 1em !important;
}

#geometry-type-label {
    width: 95%;
}
.dialog-form form {
       font-size: 80%;
       font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}
input.checkbox {
    width: 20px !important;
    min-width: 20px !important;
    height: 20px !important;
    vertical-align: bottom;
}

.dialog-form label,
.dialog-form input { display:block; }
.dialog-form input.text { margin-bottom:12px; width:95%; padding: .4em; }
.dialog-form input.radio { display:inline; margin-bottom:12px; margin-left:20px; padding: .4em; }
.dialog-form fieldset { padding:0; border:0; margin-top:5px; }

/*#dialog-layerControl-form body {*/
       /*font-size: 80%;*/
       /*font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";*/
/*}*/
/*#dialog-layerControl-form label,*/
/*#dialog-layerControl-form input { display:block; }*/
/*#dialog-layerControl-form label { font-size:80% }*/
/*#dialog-layerControl-form input.text { margin-bottom:12px; width:95%; padding: .4em; }*/
/*#dialog-layerControl-form fieldset { padding:0; border:0; margin-top:25px; }*/
.layerControls .dynatree-container,
#layer-control .dynatree-container {
    border: none !important
}
#layerControl-isFolder-label {
    font-family: Verdana,Arial,sans-serif;
    display: inline-flex;
}
/*#dialog-slider-form label,*/
/*#dialog-slider-form input { display:block; }*/
/*#dialog-slider-form label { font-size:80% }*/
/*#dialog-slider-form input.text { margin-bottom:12px; width:95%; padding: .4em; }*/
/*#dialog-slider-form fieldset { padding:0; border:0; margin-top:25px; }*/
#slider-position { width:95%; height:30px; display:block;}
#slider-html {width:95%; height:150px; margin:1px;}
#slider-layers {
    height:70px !important;
}
#sliders {
    height:45px !important;
}
#sliderLayer-params {
    height: 85px;
}
#dialog-param-form input.text {
    display:inline !important;
}
#param-value, #param-min, #param-max {
    width:30%;
}

.ui-dialog-title {
    color: white;
}
.ui-dialog {
    padding: .3em;
    z-index: 1001 !important ;
}
.ui-front {
    z-index: 1000 !important;
}

.select-list-item {
    cursor: pointer;
}
.slider-select-list-item {
    font-size: 75%;
}
.sliderLayer-select-list-item {
    font-size: 75%;
}

#geo-boundary-type {
    float:right;
    width: 100px;
    display: inline-block !important;
}
#geo-boundary-type label,
#geo-boundary-type input {
    display: inline !important;
}

#edit_display_name {
    font-size: 10pt;
    height: 20px;
}

label[for=edit_display_name] {
    font-size: 8pt;
}

li[role=tab] {
    font-size: 10pt;
}

/* ---------------- Questions tab -------------------- */
  #sortable-questions-label {
      margin-top: 10px;
      margin-left: 20px;
      font-size: 75%;
      color: darkgray;
      width: 50%;
  }
  #sortable-questions {
    list-style-type: none;
    margin-left: 20px;
    margin-top: 0px;
    padding: 0px;
    width: 96%;
    font-size: 62.5%;
  }
  #sortable-questions li {
      margin: 0 3px 3px 3px;
      padding: 0.4em;
      padding-left: 1.5em;
      font-size: 1.4em;
      width:95%;
      height: 18px;
  }
  #sortable-questions li span {
	position: absolute;
	margin-left: -1.3em;
  }
  .scroll{
    overflow-y: scroll;
    border:2px solid lightgrey;
    height: 225px;
    position:relative;
  }
  .content {
      width: 97%;
      min-width: 600px;
      max-width: 800px;
  }

#dialog-question-detail label {
    font-size: 75%;
    margin-top: 5px;
}
.field-error {
    border: 2px solid red !important;
}

#dialog-question-detail button {
    height: 20px;
    font-size:9pt;
}

#dialog-question-detail #new-constraint {
    float: right;
    margin-right:0px;
}
#dialog-question-detail #constraint-list-wrapper {
    padding-left:20px;
    padding-top:10px;
}
#dialog-question-detail #explanation {
    width: 100%;
}
#dialog-constraint-detail #explanation {
    width: 100%;
}

/* ------------- map tab --------------- */
input.dependent-property {
    width: inherit !important;
    min-width: inherit !important;
    margin-right: 5px !important;
    margin-left: 0px !important;
    margin-top: 5px !important;
    padding: 0px !important;
    padding-left:5px !important;
}

label.dependent-property {
    width: inherit !important;
    min-width: inherit !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
    padding: 0px !important;
}

span .ui-button-icon-primary .ui-icon .ui-icon-closethick {
    left: 0px;
    top: 0px;
}
